<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243444589356-fgaubael33iqhhraige17f1oqfdjhep3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243444589356-fgaubael33iqhhraige17f1oqfdjhep3</string>
	<key>API_KEY</key>
	<string>AIzaSyDZZig4X57j-A2MZbFoua3j9EMTk23voc4</string>
	<key>GCM_SENDER_ID</key>
	<string>243444589356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ogaoga.FirestoreSample</string>
	<key>PROJECT_ID</key>
	<string>firestoresample-a28c0</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoresample-a28c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243444589356:ios:3b032cdd6914a8d6754289</string>
	<key>DATABASE_URL</key>
	<string>https://firestoresample-a28c0.firebaseio.com</string>
</dict>
</plist>